src/main/resources/xsd/produtos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://exemplo.com/produtos"
           targetNamespace="http://exemplo.com/produtos"
           elementFormDefault="qualified">

    <!-- ===== BUSCAR POR ID ===== -->
    <xs:element name="getProdutoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProdutoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produto" type="tns:Produto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===== LISTAR TODOS ===== -->
    <xs:element name="listarProdutosRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="listarProdutosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produto" type="tns:Produto"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===== TIPO PRODUTO ===== -->
    <xs:complexType name="Produto">
        <xs:sequence>
            <xs:element name="id"    type="xs:int"/>
            <xs:element name="nome"  type="xs:string"/>
            <xs:element name="preco" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>